# TOP 5 Cabernet Sauvignon Wines

As requested from Vivino's VIP client, we have selected the TOP 5 best wines.   
Our filter metrics were to check average ratings, and requiring at least 1000 inputs per rating.

In [4]:
import streamlit as st
import pandas as pd
import sqlite3

connection = sqlite3.connect('../data/vivino.db')
cursor = connection.cursor()

cursor.execute ('''
    SELECT
        wines.id AS id,
        wines.name AS name,
        ROUND(AVG(wines.ratings_average), 2) AS hra,
        wines.ratings_count AS count
    FROM
        countries
        JOIN regions ON countries.code = regions.country_code
        JOIN wines ON regions.id = wines.region_id
        JOIN vintages on wines.id = vintages.wine_id
    WHERE 
        wines.ratings_count > 1000 AND wines.name 
    LIKE 
        '%Cabernet Sauvignon%' 
    GROUP BY
        wines.id
    ORDER BY
        hra DESC, count DESC
    LIMIT 5;
''')
query_result = cursor.fetchall()

query_result = pd.DataFrame(query_result)
query_result.columns=['ID', 'Wine', 'Rating', 'Count']
#query_result = query_result.rename(columns={0: 'Wine ID', 1:'Wine Name', 2:'Average Rating', 3:'Rating Count'})
display(query_result)
query_result.to_csv("../data/csv/question_6_0.csv")

        ID                                  Wine  Rating   Count
0  1611255                    Cabernet Sauvignon     4.8    2941
1    66294  Special Selection Cabernet Sauvignon     4.7   41236
2    66284                    Cabernet Sauvignon     4.6  157944
3     3879        Cabernet Sauvignon (Signature)     4.6   13730
4  2653222            CASK 23 Cabernet Sauvignon     4.6    9464