In [1]:
# import sqlalchemy
import sqlite3
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Connect to SQLite database
connection = sqlite3.connect(r'../data/vivino.db')
# Create a cursor object
cursor = connection.cursor()

## Most common grapes, best rated winse

DescriptionWe would like to select wines that are easy to find all over the world. 

Find the top 3 most common grape all over the world and for each grape, give us the 5 best rated wines.

In [15]:
query_grapes = """
    SELECT grapes.name, 
           SUM(most_used_grapes_per_country.wines_count) AS total_wines
    FROM grapes
        JOIN most_used_grapes_per_country ON grapes.id = most_used_grapes_per_country.grape_id
    GROUP BY most_used_grapes_per_country.grape_id
    ORDER BY total_wines DESC
    LIMIT 3
    ;
"""
df_grapes = pd.read_sql_query(query_grapes, connection)
print(df_grapes.shape)
display(df_grapes.head())

(3, 2)

                 name  total_wines
0  Cabernet Sauvignon      9621012
1              Merlot      6233909
2          Chardonnay      3625248

In [ ]:
# No connection between grapes and wines tables...