In [6]:
# import sqlalchemy
import sqlite3
import pandas as pd

In [7]:
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Connect to SQLite database
connection = sqlite3.connect(r'../data/vivino.db')
# Create a cursor object
cursor = connection.cursor()

## Most common grapes, best rated winse

We would like to select wines that are easy to find all over the world. 

Find the top 3 most common grape all over the world and for each grape, give us the 5 best rated wines.

In [9]:
query_grapes = """
    SELECT grapes.name, 
           COUNT(most_used_grapes_per_country.country_code) AS total
           -- SUM(most_used_grapes_per_country.wines_count) AS total_wines
           -- AVG(most_used_grapes_per_country.wines_count) AS total_wines
    FROM grapes
        JOIN most_used_grapes_per_country ON grapes.id = most_used_grapes_per_country.grape_id
    GROUP BY most_used_grapes_per_country.grape_id
    ORDER BY total DESC
    LIMIT 3
    ;
"""

df_grapes = pd.read_sql_query(query_grapes, connection)
print(df_grapes.shape)
display(df_grapes.head())

(3, 2)

                 name  total
0  Cabernet Sauvignon     12
1              Merlot     11
2          Chardonnay      6

In [10]:
# No connection between grapes and wines tables...