# Wine Selection for Sales Boost

In this notebook, we will explore the database of wines and vintages to identify the top wines that we can highlight to increase sales.
Our selection will be based on factors such as average rating, rating count, and affordability.

In [1]:
import sqlite3

# Connect to the database
db_connection = sqlite3.connect('../data/vivino.db')
cursor = db_connection.cursor()

# Execute the SQL query
query = """
SELECT wines.name, wines.ratings_average, wines.ratings_count, vintages.year, vintages.price_euros
FROM wines
JOIN vintages ON wines.id = vintages.wine_id
ORDER BY wines.ratings_average DESC, wines.ratings_count DESC
LIMIT 10;
"""

cursor.execute(query)
result = cursor.fetchall()

# Print the result
for row in result:
    wine_name, rating_avarage, rating_count, year, price_euros=row

    print(f'Wine Name: {wine_name}, Average Rating: {rating_avarage}, Count Rating:{rating_count}, Year: {year}, Price (Euros): {price_euros}')

# Close the cursor and connection
cursor.close()
db_connection.close()

Wine Name: Cabernet Sauvignon, Average Rating: 4.8, Count Rating:2941, Year: 2015, Price (Euros): 1558.75
Wine Name: Amarone della Valpolicella Classico Riserva, Average Rating: 4.8, Count Rating:587, Year: 2011, Price (Euros): 1046.25
Wine Name: Fratini Bolgheri Superiore, Average Rating: 4.8, Count Rating:153, Year: 2018, Price (Euros): 262.6
Wine Name: Mágico, Average Rating: 4.8, Count Rating:146, Year: 2019, Price (Euros): 480.0
Wine Name: Cristal Rosé Vinothèque, Average Rating: 4.8, Count Rating:88, Year: 2000, Price (Euros): 1600.0
Wine Name: Batard-Montrachet Grand Cru, Average Rating: 4.8, Count Rating:34, Year: 2020, Price (Euros): 1149.5
Wine Name: Unico, Average Rating: 4.7, Count Rating:45140, Year: 2012, Price (Euros): 410.0
Wine Name: Unico, Average Rating: 4.7, Count Rating:45140, Year: 2013, Price (Euros): 445.0
Wine Name: Unico, Average Rating: 4.7, Count Rating:45140, Year: 1965, Price (Euros): 1040.6
Wine Name: Sauternes, Average Rating: 4.7, Count Rating:44126, Year: 2005, Price (Euros): 928.3

Our goal is to select wines that have a high average rating, a significant number of ratings, and an affordable price. We will focus on wines with a price under 50 euros to make them accessible to a wider range of customers.

In [2]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Connect to the database
db_connection = sqlite3.connect('../data/vivino.db')
cursor = db_connection.cursor()

# Execute the SQL query
query = """
SELECT wines.name, wines.ratings_average, wines.ratings_count, vintages.year, vintages.price_euros
FROM wines
JOIN vintages ON wines.id = vintages.wine_id
WHERE vintages.price_euros < 50
ORDER BY wines.ratings_average DESC, wines.ratings_count DESC, vintages.price_euros ASC
LIMIT 10;
"""

cursor.execute(query)
result = cursor.fetchall()

# Print the result
for row in result:
    wine_name, rating_avarage, rating_count, year, price_euros=row

    print(f'Wine Name: {wine_name}, Average Rating: {rating_avarage}, Count Rating:{rating_count}, Year: {year}, Price (Euros): {price_euros}')

df_query = pd.read_sql_query(query, db_connection)
print(df_query.shape)
display(df_query)
df_query.to_csv("../data/csv/question_1_0.csv")

# Close the cursor and connection
cursor.close()
db_connection.close()

Wine Name: 60 Sessantanni Old Vines Primitivo di Manduria, Average Rating: 4.5, Count Rating:94289, Year: 2018, Price (Euros): 24.75
Wine Name: Limited Edition 10 Vendemmie, Average Rating: 4.5, Count Rating:9453, Year: N.V., Price (Euros): 34.2
Wine Name: Lupi Rezerva, Average Rating: 4.5, Count Rating:7604, Year: 2017, Price (Euros): 36.55
Wine Name: Cosimo Varvaglione Collezione Privata Primitivo di Manduria, Average Rating: 4.5, Count Rating:5016, Year: 2019, Price (Euros): 31.45
Wine Name: Kalós Cru Gran Reserva Malbec, Average Rating: 4.5, Count Rating:3351, Year: 2018, Price (Euros): 34.85
Wine Name: Negru de Purcari Limited Edition, Average Rating: 4.5, Count Rating:970, Year: 2019, Price (Euros): 33.17
Wine Name: Yarden Katzrin, Average Rating: 4.5, Count Rating:894, Year: 2021, Price (Euros): 37.05
Wine Name: Terrasse à l'Ombre Côtes du Rhône, Average Rating: 4.5, Count Rating:819, Year: 2018, Price (Euros): 34.95
Wine Name: Vinhas Velhas Tinto, Average Rating: 4.5, Count Rating:736, Year: 2019, Price (Euros): 29.95
Wine Name: Ice Wine de Purcari, Average Rating: 4.5, Count Rating:722, Year: 2017, Price (Euros): 33.17
(10, 5)

,name,ratings_average,ratings_count,year,price_euros
0,60 Sessantanni Old Vines Primitivo di Manduria,4.5,94289,2018,24.75
1,Limited Edition 10 Vendemmie,4.5,9453,N.V.,34.20
2,Lupi Rezerva,4.5,7604,2017,36.55
3,Cosimo Varvaglione Collezione Privata Primitiv...,4.5,5016,2019,31.45
4,Kalós Cru Gran Reserva Malbec,4.5,3351,2018,34.85
5,Negru de Purcari Limited Edition,4.5,970,2019,33.17
6,Yarden Katzrin,4.5,894,2021,37.05
7,Terrasse à l'Ombre Côtes du Rhône,4.5,819,2018,34.95
8,Vinhas Velhas Tinto,4.5,736,2019,29.95
9,Ice Wine de Purcari,4.5,722,2017,33.17

Now, let's analyze why we selected these wines and provide recommendations for the marketing strategy.

We have selected these wines based on the following criteria:

#### Average Rating: 
We prioritize wines with high average ratings, as they indicate a good overall quality that customers are likely to appreciate.
#### Rating Count: 
Wines with a significant number of ratings demonstrate popularity and consumer trust. This can encourage potential buyers to try these wines.
#### Price:
 By choosing wines priced under 50 euros, we ensure that the highlighted wines are accessible to a broader range of customers.