# Wine Selection for Sales Boost

In this notebook, we will explore the database of wines and vintages to identify the top wines that we can highlight to increase sales.
Our selection will be based on factors such as average rating, rating count, and affordability.

In [6]:
import sqlite3
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Connect to the database
connection = sqlite3.connect('../data/vivino.db')
cursor = connection.cursor()

In [8]:
# Execute the SQL query
query = """
    SELECT wines.id, 
           wines.name, 
           wines.ratings_average, 
           wines.ratings_count, 
           vintages.year, 
           vintages.price_euros
    FROM wines
        JOIN vintages ON wines.id = vintages.wine_id
    ORDER BY wines.ratings_average DESC, 
             wines.ratings_count DESC
    LIMIT 10;
"""

cursor.execute(query)
result = cursor.fetchall()

# Print the result
# for row in result:
#    wine_name, rating_avarage, rating_count, year, price_euros=row
#    print(f'Wine Name: {wine_name}, Average Rating: {rating_avarage}, Count Rating:{rating_count}, Year: {year}, Price (Euros): {price_euros}')

df = pd.read_sql_query(query, connection)
print(df.shape)
display(df)
df.to_csv("../data/csv/question_1_0.csv")

(10, 6)

,id,name,ratings_average,ratings_count,year,price_euros
0,1611255,Cabernet Sauvignon,4.8,2941,2015,1558.75
1,1187886,Amarone della Valpolicella Classico Riserva,4.8,587,2011,1046.25
2,6534388,Fratini Bolgheri Superiore,4.8,153,2018,262.60
3,5806244,Mágico,4.8,146,2019,480.00
4,7266631,Cristal Rosé Vinothèque,4.8,88,2000,1600.00
5,9330771,Batard-Montrachet Grand Cru,4.8,34,2020,1149.50
6,77137,Unico,4.7,45140,2012,410.00
7,77137,Unico,4.7,45140,2013,445.00
8,77137,Unico,4.7,45140,1965,1040.60
9,1153863,Sauternes,4.7,44126,2005,928.30

Our goal is to select wines that have a high average rating, a significant number of ratings, and an affordable price. We will focus on wines with a price under 50 euros to make them accessible to a wider range of customers.

In [9]:
# Execute the SQL query
query = """
    SELECT wines.id,
           wines.name, 
           wines.ratings_average, 
           wines.ratings_count, 
           vintages.year, 
           vintages.price_euros
    FROM wines
        JOIN vintages ON wines.id = vintages.wine_id
    WHERE vintages.price_euros < 50
    ORDER BY wines.ratings_average DESC, 
             wines.ratings_count DESC, 
             vintages.price_euros ASC
    LIMIT 10;
"""

cursor.execute(query)
result = cursor.fetchall()

# Print the result
# for row in result:
#    wine_name, rating_avarage, rating_count, year, price_euros=row
#    print(f'Wine Name: {wine_name}, Average Rating: {rating_avarage}, Count Rating:{rating_count}, Year: {year}, Price (Euros): {price_euros}')

df = pd.read_sql_query(query, connection)
print(df.shape)
display(df)
df.to_csv("../data/csv/question_1_1.csv")

(10, 6)

,id,name,ratings_average,ratings_count,year,price_euros
0,11890,60 Sessantanni Old Vines Primitivo di Manduria,4.5,94289,2018,24.75
1,6139455,Limited Edition 10 Vendemmie,4.5,9453,N.V.,34.20
2,1468452,Lupi Rezerva,4.5,7604,2017,36.55
3,4291453,Cosimo Varvaglione Collezione Privata Primitiv...,4.5,5016,2019,31.45
4,5532640,Kalós Cru Gran Reserva Malbec,4.5,3351,2018,34.85
5,2669625,Negru de Purcari Limited Edition,4.5,970,2019,33.17
6,1151275,Yarden Katzrin,4.5,894,2021,37.05
7,7830543,Terrasse à l'Ombre Côtes du Rhône,4.5,819,2018,34.95
8,7335944,Vinhas Velhas Tinto,4.5,736,2019,29.95
9,1579011,Ice Wine de Purcari,4.5,722,2017,33.17

In [10]:
# Close the cursor and connection
cursor.close()
connection.close()

Now, let's analyze why we selected these wines and provide recommendations for the marketing strategy.

We have selected these wines based on the following criteria:

#### Average Rating: 
We prioritize wines with high average ratings, as they indicate a good overall quality that customers are likely to appreciate.
#### Rating Count: 
Wines with a significant number of ratings demonstrate popularity and consumer trust. This can encourage potential buyers to try these wines.
#### Price:
 By choosing wines priced under 50 euros, we ensure that the highlighted wines are accessible to a broader range of customers.